$grey-01 = #f5f6f7
$grey-01-alpha = rgba(50, 54, 63, 0.16)
$grey-03 = #d6d8da
$grey-04 = #a7b5c6
$grey-08 = #32363F

$red   = #f92b3f
$red-alpha = rgba(255, 93, 70, 0.1)

$green = #2bba40

$blue = #33a6ff
$blue-alpha = rgba(51, 166, 255, 0.5)
